/* This template was sourced from Bootstrap example page, https://getbootstrap.com/docs/5.0/examples/cover/ -->
 */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
}

.cover-container {
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7
}
